<!-- <p>
    <img src="../../../assets/imagenes/banner.PNG">
</p> -->


<!-- <div class="hero-image">
  
</div> -->


<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem;">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="col-lg-10 separacionBanner">
            <img width="90%" src="../../../assets/imagenes/banner.PNG">

        </div>

        <!-- <img width="60%" height="50%" class="ion-margin right" src="../../../assets/imagenes/banner.PNG"> -->

    </div>
</div>

<!-- 
  <div class="app-body">
      <main class="main d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 ">
                      <div class="card-group">
  
  
  
                          <div class="card p-10">
                              <div class="card-body">
  
  
  
                                  <div style="width:100%" class="col-2">
                                      <div class="card-body text-center">
                                          <app-menu></app-menu>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                          <div class="col-10">
                              <div>
                                  <div class="card-columns m-5 animated fadeIn">
                                      <img src="../../../assets/imagenes/banner.PNG">
                                  </div>
                              </div>
  
                          </div>
  
  
  
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div> -->