<nav class="mt-2 navbar navbar-light bg-dark">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Cargo
                </a>

            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Prioridad
                </a>
            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Empresa
                </a>
            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Estado
                </a>
            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Usuario
                </a>
            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Proyecto
                </a>
            </div>
        </li>
        <li class="nav-item has-treeview menu-open">
            <div class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <a class="navbar-brand text-white right fa fa-angle-left" href="#">
                    <img src="../../../assets/imagenes/cargo.png" width="25" height="25" class="d-inline-block align-top text-white" alt=""> Reportes
                </a>
            </div>
        </li>
    </ul>
</nav>